*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #381d3b;
  --black-hover: #111;
  --white: #fcf8ee;
  --white-hover: #e7dec7;
  --piano-color: #350b83;
  --ui-bg: #5e00ca;
  --corner-radius: 0.5em;
  --gap: 0.5em;
  --hue-rotate: 0deg;
}

body {
  min-height: 100vh;
  background: var(--ui-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 2em;
  font-weight: bold;
  color: var(--white);
  font-family: Avenir;
  text-align: center;
}

.piano {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 80vw;
  aspect-ratio: 3 / 1;
  background-color: var(--piano-color);
  border-radius: calc(2 * var(--corner-radius));
  user-select: none;
  filter: hue-rotate(var(--hue-rotate));
  transition: filter 0.5s ease;
}

.keyboard {
  display: flex;
  position: relative;
  height: 100%;
}

.keys {
  --x-inset: 1em;
  position: absolute;
  display: flex;
  gap: var(--gap);
  top: var(--x-inset);
  bottom: var(--x-inset);
  left: var(--x-inset);
  right: var(--x-inset);
}

.key {
  width: 100%;
  border-bottom-left-radius: var(--corner-radius);
  border-bottom-right-radius: var(--corner-radius);
  appearance: none;
  box-shadow: none;
  border: 0;
}

.key:hover {
  cursor: pointer;
}

.black {
  z-index: 1;
  pointer-events: none;
}

.black .key {
  background-color: var(--black);
  transform: translateX(calc(50% + var(--gap) / 2)) scaleX(70%);
  height: 60%;
  width: 100%;
  position: relative;
  pointer-events: all;
}

.black .key:hover {
  background-color: var(--black-hover);
}

.blank {
  opacity: 0;
  pointer-events: none;
}

.white {
  z-index: 0;
}

.white .key {
  background-color: var(--white);
}

.white .key:hover {
  background-color: var(--white-hover);
}

.white .key:first-child {
  border-top-left-radius: var(--corner-radius);
}

.white .key:last-child {
  border-top-right-radius: var(--corner-radius);
}